solara[lab]==1.57.3
numpy==1.26
gdal==3.9
rasterio==1.4
rioxarray
geopandas
pyproj
shapely
stackstac=0.5
pandas
matplotlib
scipy
openpyxl

numpy==1.26.4
solara==1.57.3
solara-enterprise==1.57.3
solara-server==1.57.3
solara-ui==1.57.3
pystac-client
planetary-computer
omnicloudmask
sentinelhub
s2cloudless
lonboard
folium==0.20.0
Authlib==1.6.9
starlette==0.36.3
Flask==3.1.3
